body {
    margin: 20px;
    font-family: 'Fira Sans', 'Times New Roman';
    height: 200vh;
}

body * {
    transition: box-shadow 0.5s;
}

body *:hover {
    box-shadow: 1px 1px 20px 2px #646464;
}

.container {
    padding: 10px;
}

.section {
    font-size: 2rem;
    font-weight: 700;
}

.content {
    font-size: 1rem;
    font-weight: 400;
}